{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Inicia sesión" %}{% endblock %}

{% block content %}
<div class="container text-center lead mb-3 title-login ">
  <h1 class="titles mb-3">{% trans "Inicia sesión" %}</h1>

  <p class="lead mb-3 text-center">{% blocktrans %}Bienvenido!. Para agendar una hora conmigo, por favor inicia sesión. Si aún no tienes una cuenta, entonces 
  <a href="{{ registrarse_url }}">registrate aquí.</a> {% endblocktrans %}</p>


  <form class="form p-2" method="POST" action="{% url 'cuenta_iniciar_sesion' %}?next={% url 'booking_add' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-outline-custom w-25 mb-2" type="submit">{% trans "Inicia Sesión" %}</button>
  </form>
</div>
{% endblock %}