{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Cerrar sesión" %}{% endblock %}

{% block content %}
<div class="container text-center lead mb-3 title-login">
  <h1 class="titles mb-3">{% trans "Cerrar sesión" %}</h1>

  <p>{% trans 'Estás seguro que deseas cerrar sesión?' %}</p>
  <p>{% trans ' No hay problema, nos vemos pronto!' %}</p>
  <form method="post" action="{% url 'cuenta_cerrar_sesion' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-outline-custom w-25">{% trans 'Cerrar sesión' %}</button>
  </form>
</div>

{% endblock %}