{% extends "../base.html" %}
{% load crispy_forms_tags %}



{% load i18n %}

{% block title %}{% trans "Registrate" %}{% endblock %}

{% block content %}
<div class="container text-center lead mb-3 title-login ">
  <h1 class="titles mb-3">{% trans "Registrate" %}</h1>

  {% blocktrans %}
  No estás seguro si la terapia es para ti?
  <p class="p-signup">Explora hoy los beneficios....
  <p class="p2-signup">Ya tienes una cuenta? Enconces por favor <a href="{{ iniciar_sesion_url }}">Inicia sesión</a></p>
  {% endblocktrans %}

  <form class="form p-2" id="signup_form" method="post" action="{% url 'cuenta_registrarse' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-outline-custom w-25 mb-2">Registrate</button>
</form>
</div>
{% endblock %}
