{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Main content -->

<div class="image">
    <img class="hero-image" src="{% static 'images/homepage.jpg' %}" style="width: 100%; height: auto" alt="hero-image">
</div>

<div class="container mt-3 mb-3 justify-text">
    <br>
    <h2 class="mb-3 text-center">Bienvenido!</h2>
    <h3 class="lead mb-3 text-center">
        ¡Hola! Soy Elvira Espinoza Ahumada, la psicóloga detrás de Psicóloga en Ruta.</h3> 
    <h3 class="lead mb-3 text-center"> 
        Mi objetivo se centra en tres aspectos; ofrecerte un espacio seguro y compasivo donde puedas explorar 
        tus emociones y sanar todas tus heridas, también brindarte apoyo durante procesos de emigración y por último, 
        superar la pérdida de un hijo durante el embarazo, una experiencia que personalmente he enfrentado. 
        Estoy aquí para acompañarte en tu camino hacia el bienestar emocional y el crecimiento personal, estés donde estés 
        en el mundo.</h3>
</div>

<div class="container-fluid">
    {% if not user.is_authenticated %}
    <div class="text-center m-3 signup">
        <a href="{% url 'services' %}" class="btn btn-outline-custom">Lee más acerca de mí!</a>
    </div>
    {% endif %}
</div>

<!-- Contact Form Column -->
<div class="d-flex justify-content-center align-items-center">
    <div class="container mt-3 mb-3 justify-text">
        <h3 class="mb-3 text-center contact-form titles my-3">Contáctame</h3>
        <p><small>* Todos los campos son requeridos</small></p>
        <form action="{% url 'home:home' %}" method="post" class="text-center w-85 mx-auto">
            {% csrf_token %}
          
            <button type="submit" class="btn btn-outline-custom">Enviar</button>
        </form>
    </div>
</div>

<!-- Contact Info Column -->
<div class="contact-container text-center">
    <div class="contact-info">
        <i class="fa fa-envelope green-icon" aria-hidden="true"></i>
        <span>eespinozaahumada@gmail.com</span>
    </div>
    <div class="contact-info">
        <i class="fa fa-phone green-icon" aria-hidden="true"></i>
        <span>+569 4 7307888</span>
    </div>
</div>

{% endblock %}