{% extends 'base.html' %}

{% load static %}

{% block title %}Delete Booking{% endblock %}

{% block content %}


<div class="container text-center">
    <h1 class="text-center my-3 mx-auto titles">Confirma Eliminación de Reserva</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %}
            <p class="container text-center lead mb-3">¿Estás seguro que quieres elimianr esta reserva?</p>
            <input type="submit" class="btn btn-outline-custom booking-btn mx-auto my-3" value="Confirmar">
            <a href="{% url 'reservas' %}" class="btn btn-danger btn-delete">Cancelar</a>
        </form>
    </div>
    
</div>


{% endblock %}