{% load static %}


<footer class="footer mt-auto py-1">
   
    <p class="m-0 text-center">Sígueme en: 
        <a target="_blank" href="https://www.linkedin.com/in/elvira-espinoza-ahumada-74a6a82a/?originalSubdomain=cl">
            <i class="fab fa-linkedin ms-3 green-icon"></i><span class="sr-only">LinkedIn</span></a>
        <a target="_blank" href="https://www.facebook.com/elvira.ahumada/">
            <i class="fab fa-facebook ms-3 green-icon"></i><span class="sr-only">Facebook</span></a>
        <a target="_blank" href="https://www.instagram.com/elvi_psicologa_en_ruta/">
            <i class="fab fa-instagram ms-3 green-icon"></i><span class="sr-only">Instagram</span></a>
    </p>


    <p class="copyright m-0 text-center">
        {% block copyright %}
        &copy;2024 - Diseñado por Nicole Rojas
        {% endblock copyright %}
    </p>
</footer>