{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="masthead">
<div class="container">
    <div class="row g-0">
        <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.created_on }}</p>
            </div>

            <!-- Post featured image -->
            <div class="d-none d-md-block col-md-6 masthead-image">
                        {% if "placeholder" in post.featured_image.url %}
                            <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                        {% else %}
                            <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
  
<!-- Post Content Section -->
<div class="container">
    <div class="row">
                <article class="card-text">
                    {{ post.content | safe }}
                </article>
            </div>
        </div>
    

    <p class="text-center m-3 signup"><a href="{% url 'blog' %}" class="btn btn-outline-custom w-35 mx-auto mb-4">Vuelve al Blog</a></p>
{% endblock %}
