{% extends "base.html" %}

{% block title %}ReseñaDetalle - {{ reseña.autor }}{% endblock %}

{% block content %} 

    <div class="container">
        <div class="review-info mt-3 p-1">
           
            <div class="review-detail">
                <h1 class="card-author text-center">{{ reseña.autor }}</h1>
                <hr style="border-color: #8B4513">
                <p class="card-created-on text-center">{{ reseña.creado_el }}</p>
                <p class="card-service text-center"><strong>Servicio: {{ reseña.servicio }}</strong></p>
                <p class="card-content text-center">{{ reseña.texto }}</p>
                <hr style="border-color: #8B4513">
            </div>
        </div>
    </div>



  
    <p class="text-center m-3 signup"><a href="{% url 'reseñas' %}" class="btn btn-outline-custom w-35 mx-auto mb-4">Vuelve a las reseñas</a></p>
{% endblock %}