{% extends "base.html" %} 
{% block content %} 
{% load static %}

<div class="mb-3 py-4 text-center align-items-center">
    <h1 class="mb-3 text-center titles">Acerca de mi</h1>
</div>

<div class="container mt-5 mb-5 justify-text">
    <div class="row">
        <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
            <img src="{% static 'images/profile.jpeg' %}" class="profile-image" alt="profile-image">
        </div>
        <div class="col-12 col-md-8">
            <h2 class="mb-3 text-center">Mi Misión</h2>
            <p class="mb-3 px-3 py-2">Mi misión en Psicóloga en Ruta es brindarte un espacio acogedor donde te sientas cómodo 
                para compartir tus emociones y preocupaciones. Estoy comprometida a acompañarte en tu viaje hacia 
                el bienestar emocional y el autodescubrimiento, ofreciéndote orientación y apoyo personalizado 
                en cada paso del camino.</p>
            <h2 class="mb-3 text-center ">Mi Visión</h2>
            <p class="mb-3 px-3 py-2">Aspiro a crear un mundo donde todas las personas, sin importar su ubicación geográfica, 
                tengan acceso a un apoyo emocional y espiritual de calidad que les permita vivir vidas plenas y significativas. 
                Quiero ser una guía confiable en el camino hacia el bienestar emocional, proporcionando servicios personalizados
                y efectivos que promuevan la salud mental y el crecimiento personal en todas las etapas de la vida.</p>
        </div>
    </div>
</div>

<div class="mb-3 text-center align-items-center">
    <h1 class="mb-3 text-center titles">Servicios</h1>
</div>

<div class="container d-flex flex-row flex-wrap justify-content-center justify-text mb-5">
    {% for servicio in servicios %} 
    <div class="card m-3">
        <div> 
            <img src="{{ servicio.imagen.url }}" class="card-img-top" alt="{{ servicio.título }}">
           
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ servicio.título|safe }}</h2>
            <div class="card-text">{{ servicio.descripción|safe }}</div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="services-container text-center">
    <div>
        {% if user.is_authenticated %}
            <h3>¡los sueños son más grandes que los miedos!</h3>
            <p class="text-center m-3 signup"><a href="{% url 'reserva_agrega' %}" class="btn btn-outline-custom w-35 mx-auto mb-4">Reserva tu hora aquí!</a></p>
        {% else %}
        <p class="text-center m-3 signup"><a href="{% url 'cuenta_iniciar_sesion' %}" class="btn btn-outline-custom w-50 mx-auto mb-4">Para reservar una hora conmigo por favor inicia sesión aquí!</a></p>
            
        {% endif %}
    </div>
</div>
{% endblock %}